/10. Code/1. Basics/done/my-chrome-extension/node_modules
/10. Code/1. Basics/done/my-chrome-extension/node_modules
/10. Code/1. Basics/done/my-chrome-extension/node_modules
/10. Code/1.1 Example/weather-app/server/node_modules
/10. Code/new project/my-react-dotnet-app/backend/obj
/10. Code/new project/my-react-dotnet-app/backend/bin
/10. Code/api/obj
/10. Code/api/WeatherApi/obj
5. Development/~WRL0003.tmp
/10. Code/mcp server/node_modules
10. Code/scaffolding/my-react-app/node_modules/.bin/autoprefixer.ps1
